// Place all the styles related to the Book controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//colors
//colors
$white: white;
$back_cl: #91E642;

#books-table tbody tr.selected {
	color: $white;
	background-color: $back_cl !important;
}

.form-horizontal .control-label {
	text-align:left;
}

a:visited .btn-link {
	color: inherit;
}